<form  action="/posts" method="post">
  <label>New Post</label>
  <label> Name: <input type="text" name="name"></label>
  <label> Content: <input type="text" name="content"></label>
  <input type="submit" value="submit">
</form>
