<h2>Show page</h2>
  <p><%= @post.name %></p>
  <p><%= @post.content %></p>

<form action="/posts/<%=@post.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
